@model Learn2Code.Models.Role

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}




                               
                                <div class="card-body p-3">
                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.NameRole)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.NameRole)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Description)
                                        </dd>
                                    </dl>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a asp-action="Edit" asp-route-id="@Model?.Idrole">Edit</a> 
                                        <a asp-action="Index">Back to List</a>

                                    </div>
                                </div>


